{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER PAGE</title>
</head>
<body background="{% static 'img/logimg.jpg' %}">
    <center>
        <div style="background-color:white;width:400px;height:510px;margin-top:100px;border-radius:10px">
            <h2 style="padding-top:20px">Register</h2>
            <font color="red">{{msg}}</font>
            <form method="post" action="{% url 'register_page' %}" >
            {% csrf_token %}
            <input type="text" name="uname"  placeholder="Username" required style="width:240px;height:30px;margin:10px;padding-left:10px"><br>
            <input type="text" name="fname"  placeholder="Firstname" required style="width:240px;height:30px;margin:10px;padding-left:10px"><br>
            <input type="text" name="Lname"  placeholder="Lastname" required style="width:240px;height:30px;margin:10px;padding-left:10px"><br>
            <input type="text" name="email"  placeholder="Email" required style="width:240px;height:30px;margin:10px;padding-left:10px"><br>
            <input type="password" name="Pname1" placeholder="Password" required style="width:240px;height:30px;margin:10px;padding-left:10px"><br>
            <input type="password" name="pname2" placeholder="Confirm Password" required style="width:240px;height:30px;margin:10px;padding-left:10px"><br><br>
            <button type="submit" style="width:240px;height:35px;background-color:#7AB730;border:none">Submit</button>
            </form>

        </div>
    </center>
    
    
</body>
</html>